@import url("https://fonts.google.com/specimen/Inter");

body {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    font-family: "Inter", sans-serif;
}

header {
    margin-bottom: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header_menu {
    word-spacing: 2rem;
    font-size: 1.1rem;
    color: hsl(236, 13%, 42%);
}

main {
    display: flex;
    flex-direction: column;
}

.main_top {
    display: flex;
    flex-direction: row;
}

.main_top_left_section {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    width: 75%;   
    padding-right: 2vw;
}

.main_top_left_section-image {
    width: 100%;
}

.main_top_left_section-text {
   display: flex;
   align-items: center;
}

.main_top_left_section-title {
    width: 40%;
    font-size: 3.5rem;
    font-weight: 790;
    line-height: 3.5rem;
}

.main_top_left_section-p {
    align-items: center;
    width: 60%;
    padding-left: 2.5rem;
    line-height: 1.5rem;
    color: hsl(236, 13%, 42%);
}

.main_top_left_section-a {
    color: white;
    font-size: 0.75rem;
    background-color: hsl(5, 85%, 63%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    width: 7rem;
    margin-top: 2rem;
    letter-spacing: 0.2rem;
}

.main_top_right_section{
    width: 25%;
    color: white;
    background-color: black;
    padding-top : 1rem;
    padding-left : 2rem;
    padding-right : 2rem;
    margin-bottom: 10vh;
}

.main_top_right_section-h2 {
    font-size: 2.5rem;
    color: hsl(35, 77%, 62%);
}

.main_top_right_section-p {
    font-size: 0.85rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    color: hsl(233, 8%, 79%); 
    font-size: 1rem;
}

.main_top_right_section-p-line {
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.main_bottom {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    height: 25vh;
}

.main_bottom-description {
    display: flex;
    flex-direction: row;
    max-width: 33%;
}

.main_bottom-detail {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main_bottom-detail-title {
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.main_bottom-detail-h3 {
    font-weight: 800;
    margin-top: 1vh;
    font-size: 1rem;
}

.main_bottom-detail-p {
    color: hsl(236, 13%, 42%);
    margin-top: 0;
}

.main_bottom-image {
    width: auto;
    height: 80%;
}

.footer {
    margin-top: 2rem;
}
